@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;500;700&display=swap');
*{
margin: 0; padding: 0; box-sizing: border-box; list-style: none; text-decoration: none;
}
header{   
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    background-color: #E1E2E5;
    
}
.logo img{
    max-width: 80%;
}
.navbar{
    display: flex;
    
}
.navbar a{
    color: #222;
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 10px 15px;
    transition: .42s;
}
.btn{
    width: 140px;
    display: flex;
    justify-content: space-between;
}
.btn-login, .btn-signup{
    padding: 4px 10px;
    border: 1px solid grey;
    border-radius: 3px;
    color: black;
}
.btn-login:hover {
    color: white;
    background-color: black;
}
.btn-signup:hover{
    color: white;
    background-color: black;
}
.nav-icon{
    display: flex;
}
.nav-icon i{
    margin-right: 12px;
    font-size: 28px;
    font-weight: 500;
    transition: all .42s ease;
    color: rgb(106, 106, 106);
}
.nav-icon i:hover{
    transform: translateY(-4px);
    color: #000;
}
#menu-icon{
    font-size: 32px;
    cursor: pointer;
    color: #000;
}
.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: relative;  
    margin-top: 80px;
    margin-left: 0;
}
.hometext{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 400px;
    margin-bottom: 100px;
}
.hometext h1{
    font-weight: 800;
    font-size: 60px;
    color: #28a745;
    text-align: center;
    margin-bottom: 20px;
}
.hometext p{
    text-align: center;
    color: #9b7748;
    font-weight: 500px;
    font-size: 23px;
}
.home .our{
    width: 150px;
    height: 50px;
    position: absolute;
    left: 950px;
    bottom: 30px;
    border-radius: 28px;
    background-color:  #28a745;
    cursor: pointer;
    border: none;
    font-size: large;
    
}
.home .our:hover{
    background-color: #E1E2E5;
    color: #000;
    transform: translateY(-4px);   
}
/* style for page login and singup */
.sign-page-signup, .login-page-login {
    position: relative;
    width: 450px;
    height: 550px;
    margin-top: 1%;
    margin-left: 35%;
    background-color: #E1E2E5;
    border-radius: 28px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    
    
    
}
.sign-page-signup, .login-page-login h1{
    text-align: center;
    color: white;
}
.btn_sign, .btn_login{
    position: absolute;
    left: 150px;
    bottom: 10%;
    width: 140px;
    height: 40px;
    padding: 5px 8px;
    border-radius: 28px;
    cursor: pointer;
    border: none;
    background-color: #28a745;
}
.btn_sign:hover{
    background-color: rgb(125, 125, 125);
    color: white;
}
.btn_login:hover{
    background-color: rgb(125, 125, 125);
    color: white;
}
form{
    padding-top: 100px;
    padding-left: 70px;   
    color: #28A745;
}
input{
    border-radius: 28px ;
    padding: 10px;
    border: none;
}
.radio{
    margin-left: 80px;
}
.inputeform span{
    margin: 0;
    color: #28a745;
}
.inputeform .adress{
    width: 340px;
    padding: 3px;
}
.inputeform .name, .name1{
    width: 160px;
    padding: 3px;
}
#btnform2{
    width: 348px;
    background-color: #28A745;
    color: white;
    border: 1px solid #28A745 ;
    border-radius: 2px;
    padding: 5px;
    margin-bottom: 8px;
}


